html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7e9d5; 
    overflow: hidden;
}

.main-wrapper {
    height: 100vh;
    display: flex;
}

      
.brand-section {
    
    background-image: url('../img/background.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.brand-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
}

.brand-section img {
    width: 70%;
    max-width: 350px;
    height: auto;
    position: relative; 
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));
}

      
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.login-card {
    background-color: #3C2317; 
    color: white;
    padding: 40px;
    border-radius: 40px;
    width: 100%;
    max-width: 450px;
    text-align: left; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.login-card h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.input-group {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.input-group-text {
    background-color: white;
    border: none;
    color: #888;
    padding-left: 20px;
}

.password-toggle {
    cursor: pointer;
    border-radius: 0 25px 25px 0 !important;
}

.form-control {
    border: none;
    padding: 12px;
    color: #333;
}

.btn-login {
    background-color: white;
    color: #3C2317;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 60px;
    border: none;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #e2e2e2;
    transform: scale(1.05);
}

.forgot-password {
    font-size: 0.8rem;
    color: white;
    text-decoration: underline;
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
}

@media (max-width: 767px) {
    .brand-section { display: none; }
    .login-section { width: 100%; }
}
